.product-container {
  position: relative;
  width: 380px;
  height: 385px;
  margin-right: 68px;
  margin-top: 96px;
  margin-bottom:73px;
  img {
    border-radius: 10%;
    width: 380px;
    height: 385px;
  }
}
