.shop-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 1024px;
  width: 100vw;
  flex: 0 0 33%;
  margin-right: 35px;
  margin-left: 34px;
}
